<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.huts.usama.freefromstammering">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="android.huts.usama.freefromstammering.Authentication.SpeechTrainingGuest"></activity>
        <activity android:name="android.huts.usama.freefromstammering.Authentication.ForgetPassword" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.Integrative.ArticleTech7" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.Integrative.IntegrativeApproach" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.SpeechModification.ArticleTech6" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.SpeechModification.StutteringModification" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.FluencyShaping.ArticleTech5" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.FluencyShaping.SpeechFluency" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.McGuire.ArticleTech4" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.Costal.CostalBreathing" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.Costal.ArticleTech3" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.McGuire.McGuireProgram" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.TMSs.ArtcileTech2" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.TMSs.Tms" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.Valsalva.ArtcileTech1" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.Valsalva.ValsalvaManeuver" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.SevenTechniques.Techniques" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.ExerciseSection.SpeechTrainingSection.SpeechTraining" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Meditations.YouTubeVideos" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Meditations.MeditationArctileLinks" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Meditations.MeditationArticles" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Meditations.Meditation" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Setting.AboutUs" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Setting.Help" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Setting.Settings" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Connection.Fab.WhatsappGroups" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Connection.Fab.TwitterLinks" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Connection.Fab.TwitterGroups" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Connection.Fab.FacebookLinks" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Connection.Fab.FacebookPagesAndGroups" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Connection.Fab.PinterestDetails" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Connection.DetailSiteCommunity" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Connection.WebCommunity" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.ExerciseSection.VowelsAndConsonents.VowelsConsonants" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.ExerciseSection.SpeechFlows.DetailsFlowSpeech" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.ExerciseSection.SpeechFlows.SpeechFlow" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.ExerciseSection.Readings.ReadingSite" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.ExerciseSection.Readings.ReadingStories" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.ExerciseSection.ArticlesSection.Article_site" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Connection.Connections" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.ExerciseSection.ArticlesSection.Articles" />
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.ExerciseSection.Exercises" />
        <activity android:name="android.huts.usama.freefromstammering.Authentication.StarterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="android.huts.usama.freefromstammering.MainMenue.Mainmenu">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="android.huts.usama.freefromstammering.Authentication.signup" />
        <activity
            android:name="android.huts.usama.freefromstammering.Authentication.logedin"
            android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="android.huts.usama.freefromstammering.Authentication.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>